<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

google.load('visualization', '1', {'packages':['corechart']});
 
function previewChart() {
  var chart = selectChart(document.getElementById('graph_chart_type').selectedIndex);
  var jsonData = document.getElementById('graph_data').value;
  var data = new google.visualization.DataTable(jsonData);

  chart.draw(data, {width: 600, height: 360});
}

</script>

<%= form_for(@graph) do |f| %>
  <% if @graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graph.errors.count, "error") %> prohibited this graph from being saved:</h2>

      <ul>
      <% @graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => 'description_field' %>
  </div>
  <div class="field">
    <%= f.label :chart_type %><br />
    <%= f.select :chart_type, [['Pie', 0], ['Bar', 1], ['Line', 2]] %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_area :data, :class => 'data_field' %>
  </div>
  ※Please refer<%= link_to " this site ", "https://developers.google.com/chart/interactive/docs/datatables_dataviews?hl=ja#javascriptliteral" %>about data format.

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<button onclick="previewChart();">Preview</button>
<div id="chart_div"></div>
