<h1>Listing graphs</h1>

<ul class="thumbnails">
  <% @graphs.each_with_index do |graph| %>
    <li class="span3">
      <div class="thumbnail">
        <p>
        <%= graph.created_at %>
        </p>
        <p class="font12">
        <%= link_to graph.title, graph %>
        </p>
        <p class="graph_desc">
        <%= graph.description %>
        </p>
        <%= link_to 'Show', graph %>
        <%= link_to 'Edit', edit_graph_path(graph) %>
        <%= link_to 'Destroy', graph, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</div>

<%= will_paginate @graphs %>
