<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

// set callback of change chart type function
document.addEventListener('DOMContentLoaded', function() {
  select = document.getElementById('chart_type');
  select.addEventListener('change', function() {
    var chart = selectChart(select.selectedIndex);
    chart.draw(data, {width: 600, height: 360});
  });
}, false);

var data;

// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});
  
// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);
  
function drawChart() {
  // Create our data table out of JSON data loaded from server.
  data = new google.visualization.DataTable(<%= raw @graph.data.as_json %>);

  // Instantiate and draw our chart, passing in some options.
  var chart = selectChart(<%= @graph.chart_type %>);
  chart.draw(data, {width: 600, height: 360});
}

</script>

<p id="notice"><%= notice %></p>

<p>
  <b>CreatedAt:</b>
  <%= @graph.created_at %>
</p>

<p>
  <b>Title:</b>
  <%= @graph.title %>
</p>

<p>
  <b>Description:</b>
  <%= @graph.description %>
</p>

<p>
  <b>ChartType:</b>
  <%= select_tag(:chart_type, options_for_select([['Pie', 0], ['Bar', 1], ['Line', 2]],  @graph.chart_type )) %>
</p>

<div id="chart_div"></div>

<%= link_to 'json', graphdata_path(@graph) %>
