<%= form_tag(send_email_path) do %>
  <div class="field">
    <%= label_tag(:name, "name:") %>
    <%= text_field_tag(:name) %>
  </div>

  <div class="field">
    <%= label_tag(:email_address, "email address:") %>
    <%= email_field(:user, :address) %>
  </div>

  <div class="field">
    <%= label_tag(:message, "message:") %>
    <%= text_area_tag(:message, nil, :class => "message_field") %>
  </div>

  <div class="actions">
    <%= submit_tag("Send") %>
  </div>
<% end %>
